.comment_index_item {
    display: block;
    margin-bottom: 16px;
}

.comment_index_item-contents {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.comment-owner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 16px;
}

.comment-main {
    flex: 1;
}

.comment-main-header {
    margin-bottom: 2px;
}

.comment-main-header-author {
    align-items: baseline;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.author-string {
    color: #030303;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    margin-right: 4px;
    margin-bottom: 2px;
}

.comment-uploaded-ago {
    color: #606060;
    font-size: 13px;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.comment-expander {
    display: block;
}

.comment-expander-contents {
    overflow: hidden;
    max-height: 80px;
    word-wrap: break-word;
    min-width: 0;
}

.comment-expander-string {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #030303;
}

.read-more {
    color: #606060;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
}

.read-more:hover {
    text-decoration: underline;
}

.fa-ellipsis-v {
    margin: 0 4px;
    font-size: 20px;
    display: flex;
    color: inherit;
    justify-self: center;
    align-self: center;
}

.edit-comment {
    display: flex !important;
    color: #909090;
    height: 24px;
    width: 24px;
    padding: 8px;
    cursor: pointer;
    flex-direction: column;
}

.edit-comment:hover {
    color: #030303;
}

.comment-edit-dropdown {
    cursor: default;
    position: relative;
    top: 13px;
    right: 8px;
    width: 131.406px;
    height: 88px;
    box-sizing: border-box;
    outline: none;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.comment-index-item:first-child {
    margin-bottom: 100px;
}

.inside-dropdown {
    display: block;
    padding: 8px 0;
    background-color: #fff;
    color: #030303;
}

.comment-edit-button, .comment-delete-button {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    padding: 0 36px 0 16px;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    font-size: 14px;
    min-height: 36px;
}

.comment-edit-button:hover, .comment-delete-button:hover {
    background-color: lightgray;
}

.comment-section-index {
    display: flex;
    flex-direction: column-reverse;
}