.index-videos-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: none;
    height: calc(100vh - 56px);
}

.margin {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 56px);
    width: 100%;
}

.grid-header {
    width: calc(100% - 16px - 0.01px);
    margin: 36px 0 24px 24px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recommended {
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.4rem;
    font-family: 'Roboto', Arial, sans-serif;
}

.index-contents {
    margin-right: calc(-1 * 16px / 2);
    margin-left: calc(-1 * 16px / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% + 16px + .01px);
}

.index-item-container {
    background-color: #ecf3f8;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 40px;
    --width: calc(25% - 16px - 0.1px);
    width: var(--width);
}

.thumbnail-link {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.clip-thumbnail {
    height: 0;
    padding-top: 56.5%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background-color: black;
}
/* id detail */
.index-item-video-details {
    margin: 0px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.video-profile-pic {
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
    width: 36px !important;
    height: 36px !important;
    border-radius: 18px !important;
}

.index-video-details {
    overflow-x: hidden;
    padding-right: 24px;
    width: 100%;
    margin-top: 12px;
}

.index-video-title-style {
    color: #0d0d0d;
    margin-bottom: 12px 0 6px;
}

.index-click-title {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #0d0d0d;
}

.index-title-string {
    font-size: 14px;
    line-height: 24px;
    color: #0d0d0d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.grid-style-scope {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.style-scope {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.byline-container {
    max-width: 100%;
    max-height: 1.8rem;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-name {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.metadata-line {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #606060;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.bottom-metadata {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #606060;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.fa-circle {
    margin: 0 4px;
    font-size: 5px;
    display: flex;
    color: #606060;
}

.views {
    display: inline-block;
}

.data {
    display: inline-block;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
}