.show-body {
    overflow-x: auto;
    margin-top: 56px;
    display: flex;
    flex: 1;
    flex-basis: 1e-9px;
    overflow-y: auto;
}

.show-body-left {
    /* max-width doesnt work like this */
    max-width: calc((100vh - 56px + 24px + 136px) * (16/9));
    min-width: calc(480px * (16/9));
    padding-top: 24px;
    padding-right: 24px;
    margin-left: 24px;
    flex: 1;
    flex-basis: 0.00000001px;
}

.show-body-right {
    padding-top: 24px;
    min-width: 300px;
    padding-right: 24px;
    width: 402px;
}

.player-outer {
    position: relative;
}

.player-container-outer {
    /* max-width doesnt work like this */
    max-width: calc((100vh - 56px + 24px + 136px) * (16/9));
    min-width: calc(480px * (16/9));
    margin: 0 auto;
}

.player-container-inner {
    height: 0;
    padding-top: 56.5%;
    position: relative;
    width: 100%;
}

.player-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.player {
    display: block;
    width: 100%;
    height: 100%;
}

.info-contents {
    display: block;
    border-bottom: 1px solid lightgray;
    padding: 20px 0 8px;
}

.title-show {
    display: block;
    overflow: hidden;
    font-weight: 400;
    line-height: 38px;
    max-height: 76px;
    color: #0d0d0d;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
}

.title-show-content {
    word-break: break-word;
}

.below-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-text {
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

.count {
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 38px;
}

.count-value {
    color: #606060;
}

.below-title-date {
    color: #606060;
}

.something {
    flex: 1;
    flex-basis: 1e-9px;
}

.columns {
    min-width: 1012px;
    justify-content: center;
    max-width: 1754px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.menu-container {
    position: relative;
}

.menu {
    position: relative;
    top: 4px;
}

.menu-renderer {
    position: relative;
}

.top-level-buttons {
    display: flex;
    flex-direction: row;
}

.like-button {
    color: #909090;
}

.like-button-active {
    color: lightskyblue;
}

.like-button-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.like-button-button {
    color: #909090;
    background-color: transparent;
}

.bottom-border-info {
    display: block;
    border-bottom: 1px solid lightgray;
    margin-bottom: 24px;
    padding-bottom: 16px;
    height: 145px;
}

.top-row {
    margin-bottom: 12px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
}

.collapser {
    margin-left: 64px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
}

.collapsed {
    /* and this */
    height: 60px;
}

.collapser-content {
    /* Take class out to uncollapse */
    overflow: hidden;
    max-height: 60px;
    height: 60px;
}

.collapser-description {
    display: block;
    max-width: 615px;
    height: auto;
}

.description-format {
    color: #0d0d0d;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Roboto', Arial, sans-serif;
    height: inherit;
}

.top-row-renderer {
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}

.owner-icon {
    display: inline-block;
    text-decoration: none;
    /* When user show page is done */
    /* cursor: pointer; */
}

.icon-margin {
    background-color: transparent;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.upload-info {
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploader-name {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    align-self: flex-start;
    font-family: 'Roboto', Arial, sans-serif;
}

.no-long-names {
    display: inline-block;
    overflow: hidden;
}

.only-block {
    display: block;
}

.display-uploader {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #0d0d0d;
}

.show-more {
    margin: 0px;
    padding: 0;
    align-self: flex-start;
    display: block;
    text-align: center;
    font-family: inherit;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    outline-width: 0px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    color: #909090;
    width: 90px;
    text-transform: uppercase;
    height: 21px;
    border: none;
}

.show-more-string {
    color: #909090;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.007px;
    text-transform: uppercase;
    word-break: break-word;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.items {
    display: flex;
    flex-direction: column;
}

.index-show-list {
    margin-bottom: 8px;
    position: relative;
    flex-direction: row;
}

.dismissable {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.video-item-show {
    margin-right: 8px;
    height: 94px;
    width: 168px;
    display: inline-block;
    position: relative;
    flex: none;
}

.video-item-details-show {
    width: 100%;
    min-width: 0;
}

.thumbnail-show {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: pointer;
    background-color: white;
}

.after-thumbnail {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
    cursor: pointer;
}