.show-body {
    overflow-x: auto;
    margin-top: 56px;
    display: flex;
    flex: 1;
    flex-basis: 1e-9px;
    overflow-y: auto;
}

.show-body-left {
    max-width: calc((100vh-(56px+24px+136px)) * (16/9));
    min-width: calc(480px * (16/9));
    padding-top: 24px;
    padding-right: 24px;
    margin-left: 24px;
}

.show-body-right {
    padding-top: 24px;
    min-width: 300px;
    padding-right: 24px;
    width: 402px;
}

.player-outer {
    position: relative;
}

.player-container-outer {
    max-width: calc((16/9) * (100vh-216px));
    min-width: calc(480px * (16/9));
    margin: 0 auto;
}

.player-container-inner {
    height: 0;
    padding-top: 56.5%;
    position: relative;
    width: 100%;
}

.player-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.player {
    display: block;
    width: 100%;
    height: 100%;
}

.info-contents {
    display: block;
    border-bottom: 1px solid lightgray;
    padding: 20px 0 8px;
}

.title-show {
    display: block;
    overflow: hidden;
    font-weight: 400;
    line-height: 38px;
    max-height: 76px;
    color: #0d0d0d;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
}

.title-show-content {
    word-break: break-word;
}

.below-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-text {
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

.count {
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 38px;
}

.count-value {
    color: #606060;

}