.sidenav-and-main-container {
    padding-top: 40px;
    display: flex;
}

.sidenav {
    display: inline-block;
    width: 90px;
    height: 100%;
    position: fixed;
}

.home-icon, .github-icon, .linkedin-icon, .angellist-icon {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

.home-icon-text-container, .github-icon-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0 14px;
}

.home-text, .github-text {
    cursor: pointer;
}

.sidenav2, .sidenav3 {
    display: inline-block;
    width: 192px;
    height: 100%;
}

.sidenav2 {
    position: fixed;
}

.home-icon2, .github-icon2, .linkedin-icon2, .angellist-icon2, .home-icon3, .github-icon3, .linkedin-icon3, .angellist-icon3 {
    width: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    margin-right: 24px;
    padding-left: 9px;
    padding-bottom: 12px
}

.home-icon-text-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    padding-bottom: 15px;
    height: 40px;
}

.github-icon-text-container2, .hamburger-icon-text-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
}

.hamburger-icon-text-container {
    padding-bottom: 6px;
    padding-left: 16px;
    border-bottom: 1px solid #ecf3f8;
}

.home-text2, .github-text2 {
    cursor: pointer;
}

.home-icon-text-container:visited, .home-icon-text-container2, .github-icon-text-container:visited, .github-icon-text-container2:visited {
    color: black;
}

.home-icon-text-container:hover, .home-icon-text-container2:hover, .github-icon-text-container:hover, .github-icon-text-container2:hover {
    color: rgb(67, 224, 217);
    background-color: lightgrey;
}