.header {
    background: rgba(255, 255, 255, 0.99);
    z-index: 1;
    bottom: 0;
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 56px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.fa-video {
    color: gray;
    width: 24px;
    height: 24px;
    padding: 8px;
    padding-right: 20px;
}

.greeting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup {
    margin: 10px;
}

.link-demo-login {
    color: blue;
    font-weight: bold;
}

.link-demo-login:visited {
    font-weight: bold;
    color: blue;
}

.login-link {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.login-link:visited {
    font-weight: bold;
    color: blue;
}

.create-account {
    font-weight: bold;
    color: blue;
}

.create-account:visited {
    font-weight: bold;
    color: blue;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}


.inner-session-form {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 448px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -224px;
    box-sizing: inherit;
}

.inner-session-form-two {
    padding-top: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 448px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -224px;
    box-sizing: inherit;
}

.session-form-form {
    display: inline-block;
    font-size: 14px;
    padding: 24px 0 0;
    vertical-align: top;
    white-space: normal;
    width: 100%;
    border-left-width: 40px;
    border-right-width: 40px;
    border: 0 solid transparent;
    border-width: 0 24px;
    box-sizing: inherit;
}

.signup-or-signin {
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    text-align: center;
    direction: ltr;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.signup-or-signin-followup {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    text-align: center;
    direction: ltr;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.username {
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 28px;
    background-color: transparent;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 24px;
    min-width: 0%;
    width: 362px;
    padding: 13px 15px;
    margin: 1 1 0;
    outline: none;
    cursor: text;
    z-index: 1;
}

.username:focus {
    border: 1px #065fd4 solid;
}

.demo-login-desc {
    color: #5f6368;
    font-size: 14px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.create-account-or-next {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 20px;
    font-size: 14px;
}

.back-or-signup {
    display: flex;
    justify-content: space-between;
}

.login {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #065fd4;
    box-sizing: border-box;
    width: 105px;
    height: 40px;
    padding: 5px 11px;
    white-space: nowrap;
    min-width: 72px;
    justify-content: center;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    flex-direction: row;
    color: rgb(6, 95, 212);
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.loginsignin {
    margin-left: 8px;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: inherit;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    margin: 1px 6px;
}

.profile-pic-preview {
    cursor: pointer;
    width: 320px;
    height: 320px;
    border-radius: 160px;
}

.signin-pic {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.video-profile-pic {
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
    width: 36px;
    min-width: 36px;
    min-height: 36px;
    height: 36px;
    border-radius: 18px;
}

.user-dropdown {
    z-index: 2020;
    position: fixed;
    right: 20px;
    top: 5vh;
    outline: none;
    box-sizing: border-box;
    width: 300px;
    border: 1px solid lightgray;
    border-top: none;
    display: none;
    flex-direction: column;
    background: white;
}

.fa-bars {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    font-size: 50px;
}

.hamburger-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    height: 24px;
    width: 80px;
    font-size: 20px;
    text-decoration: none;
}

.logo-icon, .logo-icon2 {
    margin-left: 30px;
    color: rgb(67, 224, 217);
}

.searchbar {
    height: 28px;
    outline: none;
    background-color: transparent;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    border: none;
    box-shadow: none;
    width: 559px;
}

.searchbar-container {
    background: rgb(255, 255, 255);
    border: 1px solid lightgray;
}

.searchbar-container-focus {
    border: 1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.searchbar-container-button-container {
    display: flex;
    align-items: center;
}

.search-button {
    height: 32px;
    width: 65px;
    margin: 1px 6px;
    margin-left: 0px;
    border: 1px solid lightgray;
    cursor: pointer;
    background: #ecf3f8;
}

.dropdown-user-info {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: 'Roboto','Arial',sans-serif;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.dropdown-user-username {
    margin-left: 10px;
}

.not-header-or-sidenav {  
    background-color: #ecf3f8;
    width: 100vw;
    margin-left: 90px;
    min-height: 920px;
}

.active-sidenav2 {
    margin-left: 192px;
}

.hamburger, .hamburger2 {
    cursor: pointer;
}

.sign-out-dropdown {
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sign-out-dropdown-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.is-active .user-dropdown {
    display: flex;
}
/** Brian's CSS **/
textarea:focus, input:focus{
    outline: none;
}
input:focus {
    outline:none;
}
.format-password {
    border: 1px black solid;
    display: flex;
    height: 50px;
    border-radius: 5px;
}
.format-password:focus-within {
    border: 1px blue solid;
}
.format-password:focus-within .password-box {
    color: blue;
    font-size: 15px;
}
